.analysis-panel {
  background: transparent;
  backdrop-filter: blur(5px);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  margin: 30px auto;
  width: 90%;
}

.section-title {
  font-weight: bold;
  font-size: 1.125rem; 
  margin-bottom: 0.25rem;
}

.section-text {
  margin-bottom: 0.5rem;
}

.code-block {
    background: linear-gradient(150deg, #313142 0%, #050505 100%);
max-width: 100%;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  overflow: auto;
  width: fit-content;
  margin-top: 30px;
}

.raw-block {
  background-color: #111111;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  overflow: auto;
}
