#app{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding: 200px 0 50px 0;

}
.title-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

}
.server-status p{
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}
.server-loader {
    margin: 20px auto 0 auto;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #7275fe;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}


/* Modal */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  	background: radial-gradient(circle at 50% 0%, #24242f 0%, #1a1a1acf 100%);
  padding: 20px;
  width: 70%;
  max-height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.analyze-modal-btn {
  background: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.close-modal-btn {
  background: #f44336;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}






#btn{
  color: white;
  backdrop-filter: blur(30px);
  padding: 20px 30px;
  border-radius: 10px;
    box-shadow: #c955ff 0px 10px 30px -20px;
    transition: all 0.3s ease-in-out;

}
#btn:hover{
 scale: 1.04;
     box-shadow: #491f5d 0px 20px 30px -20px;
}




.analyze-btn {
  font-size: 1.4em;
  padding: 20px 50px;
  border-radius: 0.5em;
  border: none;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.main-btn {
  position: relative;
  padding: 3px;
  background: linear-gradient(90deg, #292b6f, #7376ff);
  border-radius: 0.9em;
  transition: all 0.3s ease-in-out;
}


button:hover {
  scale: 1.05;
  transform: translateY(-5px);
    color: #7376ff;

}

.main-btn:active {
  transform: scale(0.93) translateY(-1px);
}
.main-btn:hover {
    box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}

#analyze-lines{
  background: linear-gradient(90deg, #9b4aff, #55298c);
}

#analyze-lines:hover button {
    color: #9b4aff;

}

.result-cards-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 30px;
}








.modal-close-x {
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  transition: color 0.2s;
  width: fit-content;
  align-self: flex-end;
}

.modal-close-x:hover {
  color: #f44336;
}
#preview-main-page{
  background: linear-gradient(90deg, rgb(129, 129, 129),white );
  width: fit-content;
  align-self: center;
}
#preview-main-page:hover button {
    color: rgb(174, 174, 174);

}
