@tailwind base;
@tailwind components;
@tailwind utilities;


.one-line{
  display: flex;
  justify-content: center;
  align-items: stretch; /* default, but added for clarity */
  gap: 6vw;
  margin: 50px 0;
}
/* body{
  position: fixed;
} */
/* רקע הקוד הכללי */
.cm-editor {
  /* background-color: rgb(213, 213, 255,0.7) !important;  */
  background: transparent;
    backdrop-filter: blur(5px);

  color: #000000 !important;            /* טקסט שחור */
}

/* רקע המיספור */
.cm-gutters {
  background: transparent;
    backdrop-filter: blur(5px);
    /* border-radius: 15px; */
  /* border-right: 1px solid #d4d4d4; */
}

/* רקע של מספר השורה בפוקוס */
.cm-gutters .cm-activeLineGutter {
  background-color: #7275fe !important; /* צהוב כהה יותר להדגשה */
  color: #000000 !important;            /* מספר השורה שחור */
  font-weight: bold;
                     

}
.cm-activeLineGutter {
      /* border-radius: 15px; */

}
/* html, body, #root {
  height: 100vh;
} */







.glass-container {
  position: relative;
  /* border: 1px solid rgba(255, 255, 255, 0.3);  */
  box-shadow: 0 8px 15px rgba(255, 255, 255, 0.2); /* subtle shadow */
  background: transparent;
  backdrop-filter: blur(2px); /* glass blur effect */
  /* -webkit-backdrop-filter: blur(8px); */
  border-radius: 1rem;
  /* padding: 2rem; */
  width: 300px;
  max-width: 90%;
  color: white;
}


/* Firefox (global) */
* {
  /* scrollbar-width: thin; */
  scrollbar-color: #444 #1a1a1a;
}

/* WebKit browsers (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #1a1a1a;
}

*::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #666;
}
